/* Fira Mono for headings and titles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
/* Lexend for the rest of the site */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body {
    font-family: 'Lexend', sans-serif;
}

/* Header */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #5A9DE0;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
    
}

.navbar .navbar-brand {
    color: #5f7dae;
    font-family: 'Fira+Mono',sans-serif;
    font-weight: 700;
    
    
}

.navbar .navbar-nav a {
    color: #5f7dae;
    font-family: 'Fira+Mono',sans-serif;
    font-weight: 700;

    .navbar-toggler {
        color: #5f7dae;
    }
}

/* Main */

main {
    background-color: #c1a9db;
}

.img-fluid {
    background-color: #c1a9db;
    position: relative;
}

.main-area {
    padding-top: 20px;
    color: #5f7dae;  
    font-size: larger;
    font-family: 'Lexend', sans-serif;
    
}

.main-area img {
    
    padding: 0 20px 10px 20px; 
    background-color: #c1a9db;
    border: none;
    margin-bottom: 10px;
    
    
}

h1, h2 {
    padding-bottom: 15px;
    
}

.main-area p {
    margin: 0;
    padding: 10px 15px 20px 15px;
}


/* Footer */

footer{
    background-color: #5A9DE0;
    padding: 10px;
    
} 