/* Fira Mono for headings and titles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
/* Lexend for the rest of the site */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body {
    font-family: 'Lexend', sans-serif;
    background-color: #a8abce;
}

/* Header */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    position:absolute;
    top: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: #5A9DE0;
    border: 0;
    opacity: .8;
}

.navbar .navbar-toggler {
  
    position: relative;
    border: 10; 
    left: 80%;
    order: -1;
    
    
}



.navbar .navbar-brand {
    color: #5f7dae;
    font-family: 'Fira+Mono',sans-serif;
    font-weight: 700;
    
    
    
}

.navbar .navbar-nav a {
    color: #5f7dae;
    font-family: 'Fira+Mono',sans-serif;
    font-weight: 700;

    .navbar-toggler {
        color: #5f7dae;
    }
}

.brand {
    position: absolute;
    top: 1%;
    left: 1%;

}

.brand-title {
    color: #403278;
    font-family: 'Fira+Mono',sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding: 15px;
    vertical-align: middle;
    text-align: center;

}

/* Main */
main {
    background-color: #a8abce;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
}

.img-fluid {
    background-color: #a8abce;
    position: relative;
    top: -5%;
    max-width: 100%;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    opacity: 0.7;


}



.main-area {
    position: relative;
    padding-top: 20px;
    color: #403278;  
    font-size: larger;
    font-family: 'Lexend', sans-serif;
    top: -100px;
    
}

.main-area img {
    
    padding: 0 20px 10px 20px; 
    background-color: #a8abce;
    border: none;
    margin-bottom: 10px;
    align-self: center;
    max-width: 100%;
    justify-content: center;
    display: block;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;


    
    
}

h2, h3 {
    padding-bottom: 15px;
    text-align: center;
}

.main-area p {
    margin: 0;
    padding: 10px 15px 20px 15px;
}

.accordion-heading {
    margin: 0;
    padding: 0  10px 0 10px;
}

audio {
    padding-bottom: 15px ;
    padding: 0;
    width: 250px;
    
}

.text-center {
    text-align: center !important;
    padding: 0;
}

/* .panel-body {
    padding: 0 10px 0 10px;
} */

/* Footer */

.img-fluidBT {
    background-color: #a8abce;
    position: relative;
    bottom: -100px;
    max-width: 100%;
    width: 100%;
    display: block;
    opacity: 0.3;
}

footer{
    top: 98%;
    position: absolute;
} 

footer p {
    margin: 0;
}

.social {
    color: #403278;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-direction: row;
}

i {
    color: #403278;
    font-size: 5vw;
}

@media  (max-width:600px) {

    i {
        color: #403278;
        font-size: 8vw;
    }
}